.h-list {
  & > * {
    display: inline-block;
  }

  & > * + * {
    margin-left: rem(4);
  }

  @each $increment in $list-spacing {
    &--hr-#{$increment} > * + * {
      margin-left: rem($increment);
    }
  }
}