@import '../../assets/styles/tools.scss';

.logo {
  display: flex;
  align-items: center;

  &__img {
    margin-right: rem(8);
  }

  &__text {
    color: $white;
    font-weight: 700;
    font-size: rem(20);
  }
}